{% extends 'admin/panel_admin.html' %}

{% block title %}Zarządzanie kursami{% endblock %}
{% block panel_admin %}
<h4>Stwórz kurs</h4>
<hr>
<br>
<a href="{% url 'admin_event_new' %}" class="caption-link btn btn-default">Nowy</a>
<br>
<br>
<h4>Zarządzanie kursami</h4>
<hr>
<br>
    {% for event in events %}
        <p>{{ event.edition }} Edycja {{ event.name }} <a href="{% url 'admin_event_detail' event.id %}" class="caption-link btn btn-default">Zarządzaj</a>
</p>

    {% endfor %}
{% endblock %}
