{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block title %}Chat{% endblock %}

{% block content %}
<h4>Chat uczestników {{ event.edition }} edycji wydarzenia <br>{{ event.name }}</h4>
<br>
<br>
{% if messagess %}
    {% if messagess_all|length > 10 %}
        <a href="{% url 'chat_event_all_message' event.id %}"><button class="btn btn-default">Pokaż starsze</button></a><br><br>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            {% for message in messagess %}
            <tr>
              <th scope="row" style="text-align:right">{{ message.created }} <b>{{ message.user.first_name }}: </b></th>
              <td style="text-align:left" width="60%">{{ message.comment }}{% if request.user.profile.status == 'Administrator' %}<a href="{% url 'admin_chat_event_del_message' event.id message.id %}"><i class="far fa-times-circle"></i></a>{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
</div>
{% else %}
    Brak
{% endif %}
<br>
<hr>
<br>
                    <form method="POST">
                        {% csrf_token %}
        {{ message_form|crispy }}
<input type="submit" value="Wyślij" class="caption-link btn btn-default"/>
</form>
<br>

<script>
    window.setTimeout(function () {
    location.href = "{% url 'chat_event_all_message' event.id %}";
}, 30000); // refresh/redirect after 30 seconds.
</script>
{% endblock %}