{% extends 'index.html' %}
{% load templatetags %}
{% load crispy_forms_tags %}
{% block title %}Lista wydarzeń{% endblock %}

{% block content %}
                  <h4>Szczegółowe informacje na temat wydarzenia <br>{{ event.name }} | {{ event.edition }} Edycja </h4>
                    <p>{{ event.description }}</p>
<br>
                    <h4> Uczestnicy na kurs przyjadą z miast:</h4>
                    {% for city in cities %}
                    {{ city }},
                    {% endfor %}
<br>
<hr>
<br>
<h4>Ułatwiamy organizowanie wspólnego przyjazdu.</h4><br>
<p>Jeżeli planujesz jechać samochodem, masz wolne miejsce i chciałabyś komuś pomóc dostać się na kurs to zgłoś swoje auto w panelu kursanta <a href="{% url 'dashboard' %}" class="caption-link btn btn-default">tutaj</a>.<br>
<br>
    Natomiast jeżeli szukasz miejsca w aucie, aby zabrać się z kimś przejrzyj listę regionów i zgłoszonych aut z wolnymi miejscami poniżej.
</p>
<p>
{% for city in cities %}
<h4>{{ city }}</h4>
    {% if cities_cars_len|get_value:city == 0 %}
        Brak
    {% endif %}
            {% for car in cars %}
                {% if car.owner.profile.city == city %}
                <br>
<a class="caption-link btn btn-default" href="{% url 'profile' car.owner.id %}">{{ car.owner.username }}</a>{% if car.owner.profile.gender == 'Mężczyzna' %} zadeklarował{% else %} zadeklarowała{% endif %} {{ car.free_chair }} miejsca w swoim aucie.<br>
                    Rezerwacje: <br>
                    {% if car.declared.count != 0 %}
                        {% for declare in car.reserved.all %}
                            <a class="caption-link btn btn-default" href="{% url 'profile' declare.id %}">{{ declare.username }}</a>
                        {% endfor %}
                        <br>
                    {% else %}
                        Brak<br>
                    {% endif %}
                    Pozostało miejsc: {{ car.free_chair|minus:car.reserved.count }}<br>
                    {% if request.user in car.reserved.all %}
                        <a class="caption-link btn btn-default" href="{% url 'chair_undeclare' event.id car.id %}">Zwolnij miejsce</a>
                            {% else %}
                                {% if car.free_chair|minus:car.reserved.count > 0 %}
                        <a class="caption-link btn btn-default" href="{% url 'chair_declare' event.id car.id %}">Zarezerwuj miejsce</a>
                            {% endif %}
                    <br>
                    <br>
                    <hr>
                    {% endif %}
                {% endif %}
            {% endfor %}
    <br>
{% endfor %}
<br>
                Możesz <a href="{% url 'event_exit' event.id %}" class="caption-link btn btn-default">Zrezygnować</a> z uczestnictwa w wydarzeniu.

<br>
<br>
                  <p>Wróc do <a class="caption-link btn btn-default" href="{% url 'dashboard' %}">panelu</a> kursanta.</p>


<br>
{% endblock %}